@model upload.ViewModels.CollectionAndPointViewModel

@using upload.Extensions
@{
    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Collection.Name</h2>

@if (Model.CollectionPoints.Count == 0)
{
    <text> No Collection Meta-data Defined Within Collection </text>
}
else
{
    using (Html.BeginForm("SaveCollectionPoint", "Collection"))
    {

        foreach (var collectionPoint in Model.CollectionPoints.WithIndex())
        {
<div class="form-inline">
    @Html.LabelFor(m => m.CollectionPoints[collectionPoint.Index].Attribute)
    @Html.TextBoxFor(m => m.CollectionPoints[collectionPoint.Index].Attribute, new { @class = "form-control" })
    
    @Html.LabelFor(m => m.CollectionPoints[collectionPoint.Index].PointTypeId)
    @Html.DropDownListFor(m => m.CollectionPoints[collectionPoint.Index].PointTypeId, new SelectList(Model.PointTypes, "Id", "Type",Model.CollectionPoints[collectionPoint.Index].PointTypeId),new { @class = "form-control" })
    
    @Html.LabelFor(m => m.CollectionPoints[collectionPoint.Index].Comments)
    @Html.TextBoxFor(m => m.CollectionPoints[collectionPoint.Index].Comments, new { @class = "form-control" })
    @Html.HiddenFor(m => m.CollectionPoints[collectionPoint.Index].Id, new { @class = "form-control" })
    @Html.HiddenFor(m => m.CollectionPoints[collectionPoint.Index].CollectionId, new { @class = "form-control" })
</div>

        }

        <hr />
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    }
}



